.dashboard-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    color: #41414d;
}

.dashboard-container header {
    display: flex;
    align-items: center;
    color: #41414d;
}

.dashboard-container header img {
    margin-left: 20px;
    height: 80px;
}

.dashboard-container header span {
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
}

.dashboard-button {
    margin: 0 10px 0 auto;
    width: 160px;
    height: 60px;
    background: #E02041;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #f0f0f5;
    border-radius: 4px;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.dashboard-button:hover {
    background: #dcdce6;
    color: #E02041;
}

.dashboard-container button {
    height: 60px;
    width: 60px;
    border: 1px solid #dcdce6;
    border-radius: 4px;
    transition: 0.5s;
}

.dashboard-container button:hover {
    background-color: #dcdce6;
}

.dashboard-status {
    margin-top: 20px;
}

.dashboard-graphics {
    height: 80px;
    width: 100%;
    background: #f0f0f5;
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
    border: 1px solid #f0f0f5;
    border-radius: 6px;
}

.dashboard-total {
    margin-left: 5px;
    width: 160px;
    height: 100%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
}

.dashboard-total strong {
    margin: 5px;
    font-size: 16px;
}

.dashboard-total p {
    margin: 5px 0 0 0;
    font-size: 16px;
}

.graphic-box {
    position: relative;
    height: 250px;
    margin: auto;
    width: 32%;
    min-width: 250px;
    border: 1px solid #dcdce6;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.graphic-box span {
    position: absolute;
    left: 30px;
    top: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
}

.graphic-box span+p {
    position: absolute;
    top: 5px;
    right: 40px;
    margin: 0 0 10px auto;
    font-size: 15px;
}

.recharts-surface {
    position: absolute;
    top: 10px;
}

.dashboard-container ul {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.dashboard-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.dashboard-container ul li .case-incident {
    display: flex;
    justify-content: space-between;
}

.dashboard-container ul li .ong-date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dashboard-container ul li .description {
    margin-top: 20px;
}

.dashboard-container ul li .value {
    margin-top: 20px;
}

.dashboard-container ul li .want-help input {
    border: 1px solid #737380;
    border-radius: 4px;
    margin-top: 20px;
    line-height: 16px;
}

.dashboard-container ul li button {
    position: absolute;
    right: 24px;
    bottom: 24px;
    border: 0;
    height: 60px;
    width: 120px;
    background: #E02041;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #E02041;
    border-radius: 6px;
}

.dashboard-container ul li button:hover {
    opacity: 0.8;
}

.dashboard-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.dashboard-container ul li p+strong {
    margin-top: 32px;
}

.dashboard-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.dashboard-container ul li .delete-incident {
    background: #fff;
    border: none;
    width: 30px;
    transition: 0.2;
}

.dashboard-container ul li .delete-incident:hover {
    opacity: 0.5;
}